@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Dosis:wght@400;700&display=swap");

@import "./head.scss";
@import "./navbar.scss";
@import "./signin.scss";
@import "./container.scss";
@import "./card.scss";
@import "./task.scss";
@import "./signup.scss";
@import "./loading.scss";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --purple: #342791;
  --black: #1d1635;
  --white: #f9f9f8;
  --lila: #868fbf;
  --blue: #59b2ce;
  --red: #ce2535;
  --yellow: #d79f52;
}
