.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 5%;
  background-color: var(--purple);
  color: var(--lila);
  @media screen and (min-width: 980px) {
    background-color: transparent;
  }
  & nav {
    display: inline-block;
    width: 50%;

    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      padding: 5px;
      margin-right: 1rem;
      & li {
        border: 1px solid var(--lila);
        border-radius: 3px;
        padding: 3px 7px;
        list-style: none;
        text-transform: capitalize;
        font-size: 1.5rem;
        margin-right: 1rem;
        @media screen and (min-width: 600px) {
          font-size: 2rem;
        }
        @media screen and (min-width: 980px) {
          font-size: 2.5rem;
          margin-right: 2rem;
          padding: 3px 10px;
        }
        &:hover {
          background-color: var(--lila);
          color: var(--purple);
        }
        &:active {
          transform: translateY(3px);
        }
      }
    }
  }
}
