@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Dosis:wght@400;700&display=swap");
.head {
  width: 100%;
  height: 30vh;
  background-color: var(--purple);
  color: var(--lila);
  font-family: "Dosis", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  @media screen and (min-width: 980px) {
    .head {
      background-color: transparent;
      height: 50vh; } }
  .head h1 {
    font-size: 5rem;
    font-family: inherit;
    text-transform: capitalize;
    flex: 1; }
  .head > svg {
    display: none; }
    @media screen and (min-width: 600px) {
      .head > svg {
        display: inline-block;
        flex: 2;
        max-width: 70%;
        max-height: 90%; } }

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  background-color: var(--purple);
  color: var(--lila); }
  @media screen and (min-width: 980px) {
    .navbar {
      background-color: transparent; } }
  .navbar__login span {
    font-size: 1.5rem;
    margin-right: 1rem; }
    @media screen and (min-width: 600px) {
      .navbar__login span {
        font-size: 2.5rem; } }
  .navbar__login > a {
    border: 1px solid var(--lila);
    border-radius: 3px;
    padding: 3px; }
    .navbar__login > a:hover {
      background-color: var(--black); }
  .navbar__logo svg {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-left: 1rem; }
    @media screen and (min-width: 980px) {
      .navbar__logo svg {
        width: 7rem;
        height: 7rem;
        margin-left: 2rem; } }
  .navbar nav {
    display: inline-block;
    width: 50%; }
    .navbar nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      padding: 5px;
      margin-right: 1rem; }
      .navbar nav ul a {
        text-decoration: none;
        color: var(--lila); }
      .navbar nav ul li {
        border: 1px solid var(--lila);
        border-radius: 3px;
        padding: 3px 7px;
        list-style: none;
        text-transform: capitalize;
        font-size: 1.5rem;
        margin-right: 1rem; }
        @media screen and (min-width: 600px) {
          .navbar nav ul li {
            font-size: 2rem; } }
        @media screen and (min-width: 980px) {
          .navbar nav ul li {
            font-size: 2.5rem;
            margin-right: 2rem;
            padding: 3px 10px; } }
        .navbar nav ul li:hover {
          background-color: var(--lila);
          color: var(--purple); }
        .navbar nav ul li:active {
          transform: translateY(3px); }

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem; }
  @media screen and (min-width: 800px) {
    .signin {
      flex-direction: row;
      background-color: var(--purple); } }
  .signin__img {
    display: none; }
    @media screen and (min-width: 800px) {
      .signin__img {
        display: inline-block;
        background: -moz-linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/start.jpg") no-repeat;
        background: -webkit-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/start.jpg") no-repeat;
        background: -webkit-linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/start.jpg") no-repeat;
        background: -o-linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/start.jpg") no-repeat;
        background: -ms-linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/start.jpg") no-repeat;
        background: linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/start.jpg") no-repeat;
        width: 40rem;
        height: 50rem; } }
  .signin > svg {
    width: 100%;
    height: 20rem; }
    @media screen and (min-width: 600px) {
      .signin > svg {
        display: none; } }
  .signin h2 {
    font-size: 3rem;
    color: var(--purple);
    letter-spacing: 1px;
    margin-bottom: 2rem;
    margin-top: 4rem; }
  .signin form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 80%;
    padding-bottom: 5rem; }
    @media screen and (min-width: 670px) {
      .signin form {
        min-width: 40%; } }
    .signin form > button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      padding: 5px 0;
      border-radius: 3px;
      border: none;
      border: 1px solid var(--purple); }
      @media screen and (min-width: 1100px) {
        .signin form > button {
          width: 50%; } }
      .signin form > button:active {
        transform: translateY(3px); }
      .signin form > button svg {
        width: 3rem;
        height: 3rem;
        margin-left: 1rem;
        margin-right: 1rem; }
      .signin form > button span {
        font-size: 1.5rem;
        color: var(--purple); }
    .signin form > span {
      font-size: 2.5rem;
      margin: 1rem;
      color: var(--purple); }
      @media screen and (min-width: 800px) {
        .signin form > span {
          color: var(--white); } }
    .signin form > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 80%; }
      .signin form > div > input {
        width: 100%;
        padding: 9px;
        border-radius: 3px;
        border: none;
        border: 1px solid var(--purple);
        font-size: 1.5rem; }
        @media screen and (min-width: 1100px) {
          .signin form > div > input {
            width: 30rem; } }
      .signin form > div > label {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        color: var(--purple); }
        @media screen and (min-width: 800px) {
          .signin form > div > label {
            color: var(--white);
            font-size: 2.3rem;
            letter-spacing: 2px; } }
      .signin form > div > input[type="submit"] {
        padding: 5px 1rem;
        width: 100%;
        background-color: var(--lila);
        color: var(--white);
        border: none;
        border-radius: 3px;
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 9px 0;
        border: 1px solid transparent;
        letter-spacing: 2px; }
        .signin form > div > input[type="submit"]:hover {
          background-color: var(--purple);
          border: 1px solid var(--purple); }
        .signin form > div > input[type="submit"]:active {
          transform: translateY(3px); }
        @media screen and (min-width: 800px) {
          .signin form > div > input[type="submit"] {
            margin-top: 2rem; }
            .signin form > div > input[type="submit"]:hover {
              background-color: var(--black); } }
        @media screen and (min-width: 1100px) {
          .signin form > div > input[type="submit"] {
            width: 30rem;
            padding: 12px 0; } }

.day-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-auto-rows: minmax(15rem, auto);
  grid-gap: 12px;
  padding: 8vw; }

.card {
  background: #f6f6ff;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(98, 127, 232, 0.4);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-width: 24rem; }
  .card__count {
    font: 8rem "Audiowide";
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: #d9deff;
    text-shadow: 2px 2px 0px #f5f5ff, 2px 2.3px 0px #d5dafe, 2px 3px 5px rgba(155, 168, 239, 0.5); }
    @media screen and (min-width: 440px) {
      .card__count {
        font-size: 5rem; } }
  .card__title {
    font-size: 2.5rem;
    display: inline-block;
    text-transform: uppercase;
    color: var(--purple);
    position: relative;
    z-index: 2; }
  .card__task {
    font-size: 2rem;
    color: var(--red); }
  .card.done {
    background-color: var(--yellow);
    transition: background-color 2s; }
    .card.done > .card__count {
      color: var(--purple); }

.tasks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .task > a {
    text-decoration: none;
    color: var(--purple);
    font-size: 2rem;
    margin: 1rem; }
  .task input {
    display: none; }
  .task__label {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border: 1px solid var(--purple);
    border-radius: 50%;
    position: relative;
    cursor: pointer; }
    .task__label.done {
      background-color: var(--blue); }

.signup {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1000px) {
    .signup {
      flex-direction: row; } }
  .signup h2 {
    font-size: 3.5rem;
    color: var(--purple);
    letter-spacing: 1.5px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase; }
    @media screen and (min-width: 1000px) {
      .signup h2 {
        display: none; } }
  .signup__img {
    display: none; }
    @media screen and (min-width: 1000px) {
      .signup__img {
        display: inline-block;
        padding: 2rem;
        font-size: 4rem;
        margin-right: -100px;
        color: var(--white);
        background: -moz-linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/register.jpg") 0px 0px/cover no-repeat;
        background: -webkit-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/register.jpg") 0px 0px/cover no-repeat;
        background: -webkit-linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/register.jpg") 0px 0px/cover no-repeat;
        background: -o-linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/register.jpg") 0px 0px/cover no-repeat;
        background: -ms-linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/register.jpg") 0px 0px/cover no-repeat;
        background: linear-gradient(135deg, rgba(51, 39, 145, 0.478) 0, #342791 100%), url("./sass/img/register.jpg") 0px 0px/cover no-repeat;
        width: 40rem;
        height: 50rem; } }
    @media screen and (min-width: 1260px) {
      .signup__img {
        width: 50rem;
        height: 60rem; } }
  .signup__form {
    width: 80%;
    background-color: #b1bbf386;
    padding: 1rem;
    border-radius: 5px; }
    @media screen and (min-width: 850px) {
      .signup__form {
        width: 70%; } }
    @media screen and (min-width: 1000px) {
      .signup__form {
        width: 50%; } }
    @media screen and (min-width: 1260px) {
      .signup__form {
        background-color: #b1bbf3;
        padding: 3rem; } }
    .signup__form > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative; }
      @media screen and (min-width: 600px) {
        .signup__form > div {
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 1rem; } }
      .signup__form > div.danger > input {
        border: 2px solid red; }
      .signup__form > div > input {
        display: block;
        width: 100%;
        padding: 12px;
        resize: vertical;
        border-radius: 4px;
        border: none;
        border: 1px solid gray;
        font-size: 1.5rem;
        color: var(--purple); }
        @media screen and (min-width: 600px) {
          .signup__form > div > input {
            width: 70%;
            margin-bottom: 1.3rem; } }
        @media screen and (min-width: 1260px) {
          .signup__form > div > input {
            padding: 14px;
            margin-bottom: 2rem; } }
        .signup__form > div > input + small {
          position: absolute;
          display: block;
          width: 70%;
          margin-top: 5px;
          left: 12px;
          font-size: 1.5rem;
          top: 95%;
          color: var(--red); }
          @media screen and (min-width: 600px) {
            .signup__form > div > input + small {
              width: 70%;
              left: 30%;
              top: 78%; } }
          @media screen and (min-width: 1260px) {
            .signup__form > div > input + small {
              left: 30%;
              top: 77%;
              font-size: 1.8rem;
              padding: 0 14px; } }
      .signup__form > div > label {
        color: var(--purple);
        font-size: 2rem;
        padding: 1rem; }
        @media screen and (min-width: 600px) {
          .signup__form > div > label {
            width: 20%;
            font-size: 1.8rem;
            padding: 0; } }
        @media screen and (min-width: 1000px) {
          .signup__form > div > label {
            font-size: 2.1rem;
            color: var(--white); } }
        @media screen and (min-width: 1260px) {
          .signup__form > div > label {
            color: var(--purple); } }
    .signup__form input[type="submit"] {
      background-color: var(--purple);
      color: var(--white);
      font-size: 2rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 2rem;
      cursor: pointer; }
      .signup__form input[type="submit"]:hover {
        background-color: var(--black); }
      @media screen and (min-width: 600px) {
        .signup__form input[type="submit"] {
          width: 30%;
          margin-left: auto; } }
      @media screen and (min-width: 1260px) {
        .signup__form input[type="submit"] {
          width: max-content;
          padding: 1rem 1.8rem; } }
    .signup__form__google > button {
      cursor: pointer;
      width: 100%;
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 1rem;
      background-color: var(--white);
      border: none;
      border-radius: 5px;
      margin-left: auto;
      color: var(--purple); }
      @media screen and (min-width: 600px) {
        .signup__form__google > button {
          width: 70%; } }
      @media screen and (min-width: 1260px) {
        .signup__form__google > button {
          padding: 12px; } }
      .signup__form__google > button > svg {
        width: 3rem;
        height: 3rem; }
      .signup__form__google > button > span {
        font-size: 1.3rem; }
        @media screen and (min-width: 1260px) {
          .signup__form__google > button > span {
            font-size: 1.8rem; } }
    .signup__form > span {
      font-size: 2rem;
      text-align: center;
      display: block;
      padding: 12px;
      color: var(--purple); }
      @media screen and (min-width: 1260px) {
        .signup__form > span {
          font-size: 2.3rem; } }

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px; }

:root {
  --purple: #342791;
  --black: #1d1635;
  --white: #f9f9f8;
  --lila: #868fbf;
  --blue: #59b2ce;
  --red: #ce2535;
  --yellow: #d79f52; }
