@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Dosis:wght@400;700&display=swap");
.head {
  width: 100%;
  height: 30vh;
  background-color: var(--purple);
  color: var(--lila);
  font-family: "Dosis", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  @media screen and (min-width: 980px) {
    .head {
      background-color: transparent;
      height: 50vh; } }
  .head h1 {
    font-size: 5rem;
    font-family: inherit;
    text-transform: capitalize;
    flex: 1; }
  .head > svg {
    display: none; }
    @media screen and (min-width: 600px) {
      .head > svg {
        display: inline-block;
        flex: 2;
        max-width: 70%;
        max-height: 90%; } }

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  background-color: var(--purple);
  color: var(--lila); }
  @media screen and (min-width: 980px) {
    .navbar {
      background-color: transparent; } }
  .navbar__logo svg {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-left: 1rem; }
    @media screen and (min-width: 980px) {
      .navbar__logo svg {
        width: 7rem;
        height: 7rem;
        margin-left: 2rem; } }
  .navbar nav {
    display: inline-block;
    width: 50%; }
    .navbar nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      padding: 5px;
      margin-right: 1rem; }
      .navbar nav ul a {
        text-decoration: none;
        color: var(--lila); }
      .navbar nav ul li {
        border: 1px solid var(--lila);
        border-radius: 3px;
        padding: 3px 7px;
        list-style: none;
        text-transform: capitalize;
        font-size: 1.5rem;
        margin-right: 1rem; }
        @media screen and (min-width: 600px) {
          .navbar nav ul li {
            font-size: 2rem; } }
        @media screen and (min-width: 980px) {
          .navbar nav ul li {
            font-size: 2.5rem;
            margin-right: 2rem;
            padding: 3px 10px; } }
        .navbar nav ul li:hover {
          background-color: var(--lila);
          color: var(--purple); }
        .navbar nav ul li:active {
          transform: translateY(3px); }

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px; }

:root {
  --purple: #342791;
  --black: #1d1635;
  --white: #f9f9f8;
  --lila: #868fbf;
  --blue: #59b2ce;
  --red: #ce2535;
  --yellow: #d79f52; }
